<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lgcns.tct.mapper.UserMapper">

	<select id="getUserInfo" parameterType="String" resultType="com.lgcns.tct.dto.UserInfoDto">
        SELECT USER_NO AS user_no, NAME AS name  FROM kickboard_svc.t_user WHERE user_no = #{user_no}
    </select>

    <insert id="postUserInfo" parameterType="java.util.List" >
        INSERT INTO kickboard_svc.t_user
	        (USER_NO, NAME, EMAIL)
	    VALUES 
        <foreach collection="list" item="item" separator="," >
            (
                #{item.user_no},
                #{item.name, jdbcType=VARCHAR}, 
                #{item.email}
            )
        </foreach>
    </insert>

</mapper>